@inject LobbyService Lobby;

@using Coord = (int X, int Y);

@* <button class="btn btn-primary" @onclick="() => {}">Click me</button> *@

<div class="game">
    @for (int x = 0; x < Game?.Width; x++)
    {
        @for (int y = 0; y < Game?.Height; y++)
        {
            Coord pos = (x, y);
            @if (Game?.Entities.World.At(pos)!.Count > 0)
            {
                @foreach (Entity e in Game.Entities.World.At(pos)!) {
                    if (e.Name == "Fire") {
                        <div class="fire" style=@GetFireStyle((Fire)e)>
                            @Game.Entities.World.At((x, y))![0].Fuel
                        </div>
                    }
                }
                
            }
            else
            {
                <div class="square" 
                    style="top: @(100.0 * pos.Y / Game.Height)%; left: @(100.0 * pos.X / Game.Width)%;"
                    onclick="@(() => Click(pos))"
                ></div>
            }
        }
    }
</div>

<style>
    .game {
        width: 100%;
        height: 100vh;
        position: relative;
        background-image: url("/img/forest.webp");
        background-size: 100% 100%;
    }

    .background-img {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        z-index: -1;
    }

    .square {
        position: absolute;
        box-sizing: border-box;
        height: @(100.0 / (Game?.Height ?? 2))%;
        width: @(100.0 / (Game?.Width ?? 2))%;
    }

    .fire {
        position: absolute;
        box-sizing: border-box;
        border-radius: 50%;
        height: @(100.0 / (Game?.Height ?? 2))%;
        background-color: orange;
        width: @(100.0 / (Game?.Width ?? 2))%;
    }
</style>


@code {
    public Game Game { get; set; }
    protected override void OnInitialized()
    {
        if (Lobby?.JoinedGame == null) return;
        Game = Lobby.JoinedGame!;
        Game.Notify += () => InvokeAsync(StateHasChanged);
    }

    public void Click(Coord pos)
    {
        Game.Entities.AddEntity(new Fire() { Fuel = 20, Position = pos });
    }

    public string GetFireStyle(Fire fire) {
        Coord pos = fire.Position;
        string style = $"top: {100.0 * pos.Y / Game.Height}%; left: {100.0 * pos.X / Game.Width}%;";
        return style;
    }
}